<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-8bits"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="body-container">
  <div class="content-choose">
    <div class="choose-body">
      <div class="search-product">
        <input type="text" value="" placeholder="..." />
        <button type="button">Tìm kiếm</button>
      </div>
      <div class="all-chosse">
        <ul>
          <li>
            <button class="button-click" (click)="ClickAll()">Tất cả</button>
          </li>
          <li>
            <label for="" class="name">Loại hình</label>
            <select name="" id="" class="choose" (change)="onChage($event)">
              <option value="all" id="all">-- Tất cả --</option>
              <option *ngFor="let n of Products" [value]="n.idMenuProducts">
                {{ n.nameMenuProducts }}
              </option>
            </select>
          </li>
          <li>
            <label for="" class="name">Mặt hàng</label>
            <select name="" id="" class="choose" (change)="onChagee($event)">
              <option value="null" id="null">-- Chọn một mặt hàng --</option>
              <option
                *ngFor="let dem1 of selectedTypeData"
                [value]="dem1.typeProducts"
              >
                {{ dem1.typeProducts }}
              </option>
            </select>
          </li>
          <li>
            <label for="" class="name">Giá thành</label>
            <select name="" id="" class="choose">
              <option value="">Trên 10 triệu</option>
              <option value="">Trên 1 triệu dưới 10 triệu</option>
              <option value="">Trên 5 trăm dưới 1 triệu</option>
              <option value="">Dưới 5 trăm</option>
            </select>
          </li>
          <li>
            <button class="button-click">Nổi bật</button>
          </li>
        </ul>
      </div>
      <div class="info-contact"></div>
    </div>
  </div>

  <!-- -------------------------------------------------------------------------- -->

  <div class="content-show">
    <div class="tab-content">
      <div class="new-content">
        <ul class="new-content">
          <li
            *ngFor="
              let n of selectedMenuData
                | paginate : { itemsPerPage: 10, currentPage: p }
            "
          >
            <div class="list-all">
              <div class="img-product">
                <img [src]="n.urlImg" alt="" />
                <div class="nameMenuProduct">
                  <p>{{ n.typeProducts }}</p>
                </div>
              </div>
              <div class="info-product">
                <div class="name-product">
                  <p>{{ n.nameProduct }}</p>
                </div>
                <div class="moeny-product">
                  <p>{{ n.moeny }}</p>
                </div>
                <div class="button-add">
                  <a href="">Xem thêm</a>
                  <a href="">Đặt mua</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="listPage">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
